<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/enterprise-console/console-experience-list.css">
    <link rel="stylesheet" href="/css/enterprise-console/console-sidebar.css">
    <link rel="stylesheet" href="/css/enterprise-console/console-header.css">
    <link rel="stylesheet" href="/font/font.css">
    <link rel="shorcut icon" href="/images/member/kok_favicon.png" type="image/x-icon">
    <title>체험 공고 목록 | 콕</title>
</head>
<body>
<div class="wrap-enter">
    <div th:replace="~{/enterprise-console/console-sidebar.html :: sidebar}"></div>

    <main class="main">
        <header class="header">
            <div class="header-wrap">
                <nav class="breadcrumb">
                    <ol class="header-ol">
                        <li class="header-li">
                            <span class="header-span">기업용 콘솔</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>
        <div class="list-wrap">
            <div class="list-wrap2">
                <div class="list-wrap-inner">
                    <div class="list-wrap-inner2">
                        <div class="list-head">
                            <div class="list-head-text">
                                <h1 class="head-h1">체험 공고 목록</h1>
                                <p class="head-p">등록된 체험 공고를 관리하고 지원자 현황을 확인하세요.</p>
                            </div>
                            <a href="/enterprise-console/experience/create" class="new-exp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="new-exp-svg"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
                                새 체험 공고
                            </a>
                        </div>
                        <div class="card1-wrap" id="experience-total-wrap">
<!--                            <div class="cards">-->
<!--                                <div class="card-top">-->
<!--                                    <div class="card-top-text">-->
<!--                                        모집 중인 체험 공고-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="active-total">-->
<!--&lt;!&ndash;                                        <div class="card-body-title">20개</div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p class="card-body-sub">전체 체험 공고: 25개</p>&ndash;&gt;-->
<!--                                        <div class="card-body-title"><span class="count">${data.activeTotalCount}</span>개</div>-->
<!--                                        <p class="card-body-sub">전체 체험 공고: <span class="count">${data.totalCount}</span>개</p>-->
<!--                                    </div>-->
<!--                                    <a href="/enterprise-console/experience/create" class="card-btn">새 체험 공고 등록</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="cards">-->
<!--                                <div class="card-top">-->
<!--                                    <div class="card-top-text">-->
<!--                                        활성화된 공고의 지원자-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <div>-->
<!--                                        <div class="card-body-title">50명</div>-->
<!--                                        <p class="card-body-sub">활성화 상태인 체험 공고의 지원자</p>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; <button class="card-btn">진행 중인 지원자 보기</button> &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="cards">-->
<!--                                <div class="card-top">-->
<!--                                    <div class="card-top-text">-->
<!--                                        누적 지원자-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <div>-->
<!--                                        <div class="card-body-title">67명</div>-->
<!--                                        <p class="card-body-sub">전체 공고 누적 지원자 수</p>-->
<!--                                    </div>-->
<!--                                    <button class="card-btn">지원자 전체 보기</button>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="filter-wrap">
                            <div class="filter-top">
                                <div class="filter-top-main">필터</div>
                                <div class="filter-top-sub">조건을 설정하여 원하는 체험 공고를 찾아 보세요.</div>
                            </div>
                            <div class="filter-body">
                                <div class="filter-search">
                                    <div class="search-main">
                                        <div class="search-main2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-svg"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                                            <input type="text" class="search-input" placeholder="체험 공고명, 직군으로 검색">
                                        </div>
                                    </div>
<!--                                    <button class="search-btn">-->
<!--                                        <span class="search-span">모든 직군</span>-->
<!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="category-svg" aria-hidden="true"><path d="m6 9 6 6 6-6"></path></svg>-->
<!--                                        <div class="job">-->
<!--                                            <div class="job-1">-->
<!--                                                <div class="job-2">-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">모든 직군</p>-->
<!--                                                        </div>-->
<!--                                                        <div class="setting-31">-->
<!--                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="24" role="img" width="24">-->
<!--                                                                <path clip-rule="evenodd" d="M20.066 5.935a.8.8 0 0 1 0 1.13l-11 11a.8.8 0 0 1-1.131 0l-4-4a.8.8 0 0 1 1.13-1.13L8.5 16.369 18.935 5.935a.8.8 0 0 1 1.13 0" fill-rule="evenodd"></path>-->
<!--                                                            </svg>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">SW 개발</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">데이터/AI</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">기획/전략</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">디자인/UX</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">마케팅/PR</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">경영/운영</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">HR/인사</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">회계/재무</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">법률/법무</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">상담/영업</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">교육/복지</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">HW 개발</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">연구/R&D</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">금융/투자</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">의료/바이오</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">건설/부동산</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">미디어/출판</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">제조/생산</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">운전/물류</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">식품/조리</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">숙박/레저</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">서비스</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="job-3">-->
<!--                                                        <div class="job-5">-->
<!--                                                            <p class="job-6">종교인</p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </button>-->
                                </div>
                                <div>
                                    <div class="list-cate">
                                        <div class="list-cate-inner" role="tablist">
                                            <button class="category-sub all active">전체</button>
                                            <button class="category-sub ing">모집 중</button>
                                            <button class="category-sub end">모집 종료</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="experience-list-table" class="list-list">
                            <!-- 테이블-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="/js/console/ex-list/module/service.js"></script>
<script src="/js/console/ex-list/module/layout.js"></script>
<script src="/js/console/ex-list/event.js"></script>
<script src="/js/console/sidebar/event.js"></script>
</html>