<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/enterprise-console/experience/console-experience-upload.css">
    <link rel="stylesheet" href="/css/enterprise-console/sidebar/console-sidebar.css">
    <link rel="stylesheet" href="/css/enterprise-console/main/console-header.css">
    <link rel="stylesheet" href="/font/font.css">
    <link rel="shorcut icon" href="/images/member/kok_favicon.png" type="image/x-icon">
    <title>인턴 지원서 목록 | 콕</title>
</head>
<body>
    <div class="wrap-enter">
        <div th:replace="~{/enterprise-console/sidebar/console-sidebar}"></div>

        <main class="main">
            <header class="header">
                <div class="header-wrap">
                    <nav class="breadcrumb">
                        <ol class="header-ol">
                            <li class="header-li">
                                <span class="header-span">기업용 콘솔</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </header>
            <div class="upload-wrap">
                <div class="upload-wrap2">
                    <div class="upload-wrap-inner">
                        <div class="upload-wrap-inner2">
                            <div class="home-top">
                                <div class="back-back">
                                    <a href="/enterprise-console/intern/list" class="back-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="back-svg"><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg>
                                        인턴 고용 공고 목록으로 돌아가기
                                    </a>
                                </div>
                                <div>
                                    <h1 class="top-h1" th:text="${internDetail.internNoticeTitle}">인턴 고용 공고 제목</h1>
                                    <p class="top-p" th:text="${internDetail.internNoticeSubtitle}">인턴 고용 공고 부제목</p>
                                </div>
                            </div>
                            <div class="appli-main">
                                <div class="write-area">
                                    <div class="cards">
                                        <div class="card-title">
                                            <div class="main-title">필터</div>
                                            <div class="sub-title">조건을 설정하여 원하는 지원자를 찾아보세요.</div>
                                        </div>
                                        <div class="card-content">
                                            <div class="contents-line">
                                                <div class="list-cate">
                                                    <div class="list-cate-inner-appli" role="tablist">
                                                        <button class="category-sub all active" id="all-btn">전체</button>
                                                        <button class="category-sub accept" id="hap-btn">합격</button>
                                                        <button class="category-sub reject" id="bul-btn">불합격</button>
                                                        <button class="category-sub await" id="pend-btn">서류 검토 중</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards">
                                        <div id="detail-list-table">
<!--                                            <div class="card-title-wrap">-->
<!--                                                <div class="card-title">-->
<!--                                                    <div class="main-title">지원자 목록(11명)</div>-->
<!--                                                    <div class="sub-title" id="count-appli-div">총 11명 중 11명의 지원자가 표시됩니다.</div>-->
<!--                                                </div>-->
<!--                                                <button class="download">-->
<!--                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="download-svg"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>-->
<!--                                                    이력서 다운로드-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                            <div class="card-content">-->
<!--                                                <table class="list-list-table">-->
<!--                                                    <thead class="list-list-thead">-->
<!--                                                        <tr class="list-tr">-->
<!--                                                            <th class="list-head-sub">선택</th>-->
<!--                                                            <th class="list-head-main">이름</th>-->
<!--                                                            <th class="list-head-sub">이메일</th>-->
<!--                                                            <th class="list-head-sub">전화번호</th>-->
<!--                                                            <th class="list-head-sub">지원일</th>-->
<!--                                                            <th class="list-head-sub">상태</th>-->
<!--                                                        </tr>-->
<!--                                                    </thead>-->
<!--                                                    <tbody class="list-list-tbody">-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr pend">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">서류 검토 중</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr hap">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr hap">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr bul">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">불합격</span>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr hap">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <input type="checkbox" name="" class="check-download">-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div>-->
<!--                                                                    <div class="td-title">지원자 이름</div>-->
<!--                                                                </div>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                test@gmail.com-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="span-number">010-0000-0000</span>-->
<!--                                                            </td>-->
<!--                                                            <td class="body-td">2025-09-15</td>-->
<!--                                                            <td class="body-td">-->
<!--                                                                <span class="exp-status">합격</span>-->
<!--                                                            </td>-->
<!--                                                            -->
<!--                                                        </tr>-->
<!--                                                        <tr class="body-tr-none">-->
<!--                                                            <td class="body-td">-->
<!--                                                                <div class="text">조건에 맞는 공고가 없습니다.</div>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                    </tbody>-->
<!--                                                </table>-->
<!--                                                <div class="page-div">-->
<!--                                                    <nav class="page-nav">-->
<!--                                                        <ul class="page-ul">-->
<!--                                                            <li class="page-li page-num page-on">-->
<!--                                                                <a href="" class="page-a">1</a>-->
<!--                                                            </li>-->
<!--                                                            <li class="page-li page-num">-->
<!--                                                                <a href="" class="page-a">2</a>-->
<!--                                                            </li>-->
<!--                                                            <li class="page-li page-num">-->
<!--                                                                <a href="" class="page-a">3</a>-->
<!--                                                            </li>-->
<!--                                                            <li class="page-li page-num">-->
<!--                                                                <a href="" class="page-a">4</a>-->
<!--                                                            </li>-->
<!--                                                            <li class="page-li page-num">-->
<!--                                                                <a href="" class="page-a">5</a>-->
<!--                                                            </li>-->
<!--                                                        </ul>-->
<!--                                                    </nav>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </main>
    </div>
</body>
<script th:inline="javascript">
    const memberId = [[${memberId}]];
    const internNoticeId = [[${internNoticeId}]];
</script>
<script src="/js/console/intern-appli-list/module/service.js"></script>
<script src="/js/console/intern-appli-list/module/layout.js"></script>
<script src="/js/console/intern-appli-list/event.js"></script>
<script src="/js/console/sidebar/event.js"></script>
</html>