<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.ConsoleExperienceMapper">
    <select id="selectExperienceAll">
        select en.id, en.experience_notice_title, en.experience_notice_subtitle, en.experience_start_date,
               en.experience_end_date, en.experience_notice_status, en.company_id, en.created_datetime, en.updated_datetime,
               jc.job_name as job_category_name,
               count(distinct re.id) as applicant_count,
               count(distinct se.id) as save_count
        from tbl_experience_notice en
        join tbl_user_job_category ujc
            on en.company_id = ujc.user_id
        join tbl_job_category jc
            on ujc.job_category = jc.id
        left join tbl_request_experience re
            on en.id = re.experience_notice_id
        left join tbl_save_experience_notice sen
            on en.id = sen.experience_notice_id
        group by en.id, jc.job_name
        order by m.id desc
#         limit #{criteria.count} offset #{criteria.offset}
        </select>
</mapper>