<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.ConsoleExperienceApplicationMapper">
    <!-- 체험 상세 - 지원자 조회 -->
    <select id="selectApplicationDetail">
        select
            re.id as request_id,
            re.request_experience_status,
            re.created_datetime as request_datetime,
            u.id as user_id,
            u.user_name,
            u.user_email,
            u.user_phone,
            en.id as experience_notice_id,
            en.experience_notice_title,
            en.company_id
        from tbl_request_experience re
            join tbl_user u
                on re.member_id = u.id
            join tbl_experience_notice en
                on re.experience_notice_id = en.id
        where re.member_id = #{memberId}
            and en.id = #{experienceNoticeId}
        order by re.id desc
    </select>
</mapper>