<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.InternNoticeMapper">
    <sql id="companyInternNoticeSearch">
        <if test="search.keyword != null and search.keyword != ''">
            and (
            lower(i.intern_notice_title) like concat('%', lower(#{search.keyword}), '%')
            or lower(i.intern_notice_subtitle) like concat('%', lower(#{search.keyword}), '%')
            or lower(i.intern_notice_introduce_job) like concat('%', lower(#{search.keyword}), '%')
            or lower(i.intern_main_tasks) like concat('%', lower(#{search.keyword}), '%')
            or lower(i.intern_notice_etc) like concat('%', lower(#{search.keyword}), '%')
            or lower(j.job_name) like concat('%', lower(#{search.keyword}), '%')
            )
        </if>
    </sql>

<!-- 기업별 인턴 공고 목록 -->
    <select id="selectInternNoticeByCompanyId" resultType="InternNoticeDTO">
        select i.id, i.intern_notice_title, i.intern_notice_subtitle as internNoticeSubTitle, i.intern_notice_introduce_job,
               i.intern_main_tasks, i.intern_notice_etc, csc.id as scale_id, csc.company_scale_name, j.job_name
        from tbl_intern_notice i
        join tbl_company c on c.user_id = i.company_id
        left join tbl_company_scale_category_bridge cscb on i.company_id = cscb.company_id
        left join tbl_company_scale_category csc on cscb.company_scale_category_id = csc.id
        left join tbl_intern_job_category ijc on ijc.intern_notice_id = i.id
        left join tbl_job_category j on j.id = ijc.job_category
        where i.intern_notice_end_date >= now()
        and i.intern_notice_status = 'active'
        and i.company_id = #{companyId}
        <include refid="companyInternNoticeSearch"/>
        order by i.created_datetime desc
        limit #{criteria.rowCount} offset #{criteria.offset}
    </select>

    <select id="selectInternNoticeCountByCompanyId" resultType="int">
        select count(*)
        from tbl_intern_notice i
        join tbl_company c on c.user_id = i.company_id
        left join tbl_experience_job_category ejc on ejc.experience_notice_id = i.id
        left join tbl_job_category j on j.id = ejc.job_category
        where i.intern_notice_end_date >= now()
        and i.intern_notice_status = 'active'
        and i.company_id = #{companyId}
        <include refid="companyInternNoticeSearch"/>
    </select>

<!--  기업별 인턴 모집  -->
    <select id="selectListById">
        select intern_notice_title, intern_notice_subtitle, intern_notice_status
        from tbl_intern_notice
        where company_id = #{userId}
    </select>
</mapper>