<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.MemberStorageFileMapper">
<!--    파일 insert-->
    <insert id="insertStorageFile">
        insert into tbl_member_storage_file(file_id, member_id)
        values(#{fileId}, #{memberId})
    </insert>
</mapper>