<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.UserMapper">
<!--    이메일로 조회-->
    <select id="selectByEmail">
        select id, user_name, user_phone, user_email, user_password, user_role, user_status, created_datetime, updated_datetime
        from tbl_user where user_email = #{userEmail}
    </select>

    <!--  일반 회원 가입  -->
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(user_name, user_phone, user_email, user_password, user_role)
        values (#{userName},#{userPhone},#{userEmail},#{userPassword},'member')
    </insert>
    <!--  이메일로 회원 조회  -->
    <select id="selectCountByEmail">
        select count(*) from tbl_user
        where user_email = #{userEmail} and user_status = 'active' and user_role = 'member'
    </select>
    <!--  sns 이메일로 조회  -->
    <select id="selectBySnsEmail">
        select * from tbl_user
        where sns_email = #{snsEmail} and user_status = 'active'
    </select>
    <!--  sns 이메일로 회원가입  -->
    <insert id="insertSnsMember" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(user_name, user_phone, sns_email, user_role)
        values (#{userName},#{userPhone},#{snsEmail},#{userRole})
    </insert>
</mapper>